@import url(./null.css);
body {
   background-color: black;
   color:#fff;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   overflow-x: hidden;
}
/* header */
header{
   padding: 60px 0;
}
.logotip{
   display:flex;
   align-items: center;

}

.navBar{
   display:flex;
   justify-content: space-between;
   align-items: center;
}
.navigation ul{
   display:flex;
}
.navigation a{
   color: #fff;
}
.navigation  li{
   display: flex;
   margin:0 23px;
   font-size: 17px;
}
.navigation  a:hover{
   color: #55acee;
}
/* header */

/* main */
.mainTitle{
   padding-top: 8% ;
}
.mainTitle__Wrapper{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   width: 48.5%;
   z-index: 1;
   margin: 0 auto;   

}

.mainTitle__Wrapper span{
   color: #55acee;
}
.mainTitle__Wrapper h1{
   font-size: 50px;
}
.mainTitle__paragraph{
      padding-top: 40px;
      font-size: 20px;
      line-height:29.4px;
}
.mainTitle__Wrapper img{
   width: 64%;
   margin: 0 auto;
}
.mainTitle__Wrapper:before {
      position: absolute;
      animation-name: frame,frame-reverse;
      animation-duration: 1s,15s;
      animation-delay: 0s,5s;
      animation-direction: normal,normal;
      animation-iteration-count: 1,infinite;
      animation-timing-function: linear;
      bottom: calc(-45.2vw / 1.95118110236);
      left: -31.5vw;
      width: calc(400px / .13175);
      min-width: 100vw;
      height: calc(100vw * .20833333333);
      background-image: url(../img/Frame.png);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 100%;
      z-index: -1;
      content: ""
  }

 
.about__us { 
   text-align: center; 
   display: flex;
   justify-content: center;
   flex-direction: column;
}
.about__us h2{ 
   font-size: 50px;
}
.about__us p{ 
   text-align: center; 
   font-size: 24px;
   
}
.about__us span { 
   color: #55acee;
}
.about__descr{
   font-weight: 700;
   font-size: 20px;
   padding-top: 40px;
   padding-bottom: 25px;
}

  @keyframes frame {
   0%,35%,50% {
       opacity: 0;
       left: calc(-31.5vw);
       transform: translateY(+25vh)
   }

   70% {
       opacity: .7
   }

   100% {
       opacity: 1;
       left: calc(-31.5vw)
   }
}

@keyframes frame-reverse {
   0% {
       left: calc(-31.5vw)
   }

   100% {
       left: calc(-31.5vw - (3036px - 100vw + 10px))
   }
}  